@keyframes fadeInThenSudden {
  0% {
    opacity: 0;
  }
  94% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInThenSuddenTwo {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  animation: fadeInThenSudden 1.5s ease-in-out;
}

.fade-in-span {
  animation: fadeInThenSudden 2s ease-in-out;
}

.fade-in-button {
  animation: fadeInThenSuddenTwo 2.5s ease-in-out;
}

@keyframes fadeInThenSuddenThree {
  0% {
    background: rgb(245 158 11 / 0.1);
  }
  50% {
    background: rgb(245 158 11 / 0.1);
  }
  99% {
    background: rgb(245 158 11 / 0.1);
  }
  100% {
    background: rgb(245 158 11 / 0.5);
  }
}
.switch-button-opacity {
  animation: fadeInThenSuddenThree 2.5s ease-in-out;
}

@keyframes gradientBackground {
           
         0% {
             background-position: 0% 50%;
         }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 200% 50%;
            }
        }

@keyframes backgroundColorChange {
  0% {
    background-image: linear-gradient(135deg, rgba(245, 158, 11, 0.1) 0%, rgba(245, 158, 11, 0.5) 50%, rgba(245, 158, 11, 0.9) 100%);
  }
  100% {
    background-image: none;
    background-color: rgba(245, 158, 11, 0.8);
    outline: 2px solid white;
  }
}

.custom-animated-button {
  background-image: linear-gradient(135deg, rgba(245, 158, 11, 0.1) 0%, rgba(245, 158, 11, 0.5) 50%, rgba(245, 158, 11, 0.9) 100%);
  background-size: 200% 100%;
  animation: gradientBackground 3s ease reverse forwards, backgroundColorChange 0.1s 1.5s forwards; /* Add the new animation here */
}